body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 box-sizing: border-box;
 align-items: center;
 justify-content: center;
 list-style: none;

}

.fs-7{
  color:white;
  word-spacing: 5px;
  margin: 0;
  padding: 0;
  transform: scale(1, 1);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.fs-5{
  color: white;
    font-size: 5px;
}
.fas{
  color:white;
}
.fab{
  width: 30px;
}
.navbar{
  position: absolute;
  top: 0;
  background-color: transparent;

  top: 0;
} 
#navbarNav ul li{
  display: flex;
  justify-content: end;
  align-items: end;
}
#logo{
  margin-top: 0px;
  margin-left: 90px;
  font-size: 35px;
  color: white;
font-weight: 500px;
}
ul li{
  padding-right: 25px;
}

#nav1{
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  font-size: 5px;
  font-weight: bold;
}
 #nav1::after{
  content: "";
  position: absolute;
  background-color: blue;
  height: 2px;
  left: 0%;
  width: 0;
  bottom: -10px;
  transition: all 0.3s;
  
}
#nav1:hover{
  color: blue;
}
#nav1:hover::after{
  width: 100%;
}
.navigation{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
}
#main-image{
  position: relative;

}
  .class{
    position: relative;
  }

  .text{
    display: inline-block;
    align-items: left;
    justify-content: center;
    position: absolute;
    color: white;
    top: 25%;
    padding: 20px;
    left: 50px;
    width: 50%;
    animation-name: fade-in;
    animation-duration: 5s;
    

  }
  @keyframes fade-in {
    0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);

    }
    100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }
  .text h1{
    font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: left;
  }
    
  .text p{
    font-size: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: left;
  }
  .text button{
    display: flex;
    width: 15vw;
    height: 60px; 
    margin: 2px; 
    border-radius: 50px;
    align-items: center;
    justify-content: center;

}
  .top{
    position: relative;
    top: 8px;
    left: 8px;
    width: 100%;
    
  
}


.container-fluid{
  width:  100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
}
.container-fluid .img{

  top: 0;
  align-items: center;
  justify-content: space-between;


}
.imagemain{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70%;
}
.container-fluid h3{
  text-align: center;
  color: black;
}
/* @media(max-width:576px) {
  .card{
    height: 50px;
display: flex;  }
  
} */
.colums{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}
.colum{
  flex: 1;
  padding: 10px;
  margin-top: 0;
  margin: 2px;
}
.card{
  justify-content: space-evenly;
  display: flex;
 margin-top: 5%;
 margin-left: 3%;
 margin-right: 3%;
 font-size: 1.4vw;
}
.card .card-body{
  color: black;
}
#icons{
  align-items: center;
  justify-content: space-around;
  margin-right: 30%;
  margin-left: 30%;
  
}

#icons:hover{
  color: white;
  background-color: rgb(83, 83, 160);
  border-top-left-radius: 15%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 15%;
  transition: all 0.2s;
 }
h2:hover{
color: rgb(83, 83, 160);
}
.grid-container {
  display: flex;
  
  column-gap: 50px;
}
.huerotate {filter:grayscale(100%);
opacity: 0.4;}
.huerotate:hover {filter:grayscale(0%); transition: .5s ease;
opacity: 1;}
.h1{
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: 400;
  color: transparent;
}
.column {
  float: left;
  width: 25%;
}

.flip-card-front img{
  width: 100%;
  height: 100%;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card{
  width: 280px;
  height: 360px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(17, 49, 155);
  color: white;
  transform: rotateY(180deg);
}

.office-1{
  width: 400px;
  height: 250px;
  display: inline-block;
}
#class{
  margin: 70px; 
  padding-right: 9%;
  padding-left: 9%;
   padding-top: 5px;
}
#name{
  position: relative;
  outline: none;
  margin: 0;
  border: none;
  color: #999999;
  width: 100%;
  height: 50px;
}
#name:focus{
  box-shadow: none;
}
.box1{
  width: 100%;
  position: relative;
  background-color: white;
}

#text-icon{
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  width: 60px;
  height: 35px;
  display: flex;
  margin-top: 12px;
  color: #999999;
  font-size: 20px;
  text-align: center;
  justify-content: center;

 
}
footer{
  margin-top: 0;
  background: #f8f8f8;
}
.footer-icons a{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  background-color: rgb(73, 66, 66);
  color: white;
  font-size: 20px;
  border-radius: 3px;
  height: 10px;
}
.footer-icons a:hover{
  color: white;
  text-decoration: none;
}
.footer-links a{
  align-items: left;
  font-size: 15px;
  font-weight: 0px;
  display: inline-block;
  color: black;
}
.footer-links a:hover{
  color: black;
}
#last-icon{
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  border-radius: 50%;
  padding: 7px;
  background-color: rgb(73, 66, 66);
  color: rgb(250, 247, 247);
  font-size: 25px;
  border-radius: 3px;
  height: 10px;
}
